<h1><%=  post.title %></h1>
<div><%=  post.price %></div>
<div><%=  post.description %></div>
<div><%=  post.location %></div>
<!--
    title: String,
    price: String,
    description: String,
    images: [String],
    location: String,
    lat: Number,
    long: Number, -->